/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body {
  background-color: #D4A76A;
}

section {
  margin-top: 4%;
}

header {
  background-color: #FFDBAA;
}

.nav-btn:hover {
    background-color: #583302;
}

nav {
    height: 120px;
    margin-right: 15px
}
.nav-btn{
  background-color: #805215;
  color: white;
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
}

.card-deck {
  margin: 2% 9% 0% 9%;
  /* height: 220px; */
  text-align: center;
}

.cards-btn {
  background-color: #805215;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.cards-btn:hover {
    background-color: #583302;
}

.col-4, .feature {
box-shadow: 0 0 40px 0px #7b531f75;
border-radius: 5px;
}

.feature {
  margin: 2% 10%;
  height: 275px;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 0 1;
}

p {
  font-size: 18px
}

h5 {
  font-size: 24px
}

a {
  text-decoration: none;
  color: white;
}
